.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  padding: 20px;
  color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.top-menu {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  padding: 100px 50px 0 100px;
}

.menu-item {
  margin: 20px;
}
